<%= form_for(product,html: {class: 'row g-3'})  do |f| %>
  <% if product.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(product.errors.count, "error") %> prohibited this product from being saved:</h2>

      <ul>
      <% product.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <section class="reg-section">

    <div class="field row g-0">
      <label class="col-md-2" for="product_name">Nome</label>
      <input class="col-md-4 requireds" type="text" name="product[name]" id="product_name" required/>
    </div>
    <div class="field row g-0">
    <label class="col-md-2" for="product_price">Preço</label>
    <input class="col-sm-1 requireds" placeholder="Ex: 5.99" type="text" name="product[price]" id="product_price" required/>
  </div>
  

  <div class="field row g-0">
    <%= f.label :id, 'ID',class: 'col-md-2'%>
    <%= f.text_field :id ,disabled: true , class: 'col-sm-1'%>
  </div>
  </section>
  <div class="actions">
    <a onclick = 'required_error()' class = 'btn' style = 'margin: 0px;border: 0px;padding: 0px;'>
      <%= f.submit  class: 'btn btn-outline-success'%>
    </a>
  </div>
<% end %>
