<header class="standard-content header">
<h1>PRODUTOS</h1>
<%= render 'layouts/navbar' %>

</header>
<p id="notice"><%= notice %></p>

<section class="standard-content table-section">
<table class="sortable table table-bordered ">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">PRODUTO</th>
      <th scope="col">PREÇO</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @products.each do |product| %>
      <tr>
        <td><%= product.id %></td>
        <td><%= product.name %></td>
        <td><%= number_to_currency(product.price, unit: "R$", separator: ",", delimiter: "") %></td>
        <td class="act-btn"><%= link_to 'Mostrar', product , class: "btn btn-success" %>
        <%= link_to 'Editar', edit_product_path(product) , class: "btn btn-warning"%>
        <%= link_to 'Excluir', product, method: :delete, data: { confirm: 'Você tem certeza?' } , class: "btn btn-danger" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Novo Produto', new_product_path , class: 'btn btn-outline-primary rails-btn' %>
</section>