<p id="notice"><%= notice %></p>
<section class= "standard-content">
<div class="card" style="width: 30rem;">
  <div class="card-body">
      <h5 class="card-title">Dados da Compra</h5>
         <p class="card-text">
            <strong>ID:</strong>
            <%= @product.id %>
            </br>
            <strong>Nome:</strong>
            <%= @product.name %>
            </br>
            <strong>Preço:</strong>
            <%= number_to_currency(@product.price, unit: "R$", separator: ",", delimiter: "") %>
            </br>
            <%= link_to 'Edit', edit_product_path(@product) , class: 'btn btn-warning' %> 
        </p>
  </div>
</div>
<%= link_to 'Back', products_path , class: 'btn btn-outline-primary rails-btn back-edit' %>
</section>