<div class="navbar">
  <%= link_to root_path , :class => "btn" do%>
  <%=image_tag "https://cdn-icons-png.flaticon.com/512/7606/7606136.png", :class => "navbar-img"%>
  <p>INICIO</p>
  <%end%>
  <%= link_to orders_path , :class => "btn" do%>
  <%=image_tag "https://cdn-icons-png.flaticon.com/512/57/57589.png", :class => "navbar-img"%>
  <p>PEDIDOS</p>
  <%end%>
  <%= link_to products_path , :class => "btn" do%>
  <%=image_tag "https://cdn-icons-png.flaticon.com/512/2652/2652218.png", :class => "navbar-img"%>
  <p>PRODUTOS</p>
  <%end%>
   <%= link_to people_path , :class => "btn" do%>
  <%=image_tag "https://cdn-icons-png.flaticon.com/512/747/747376.png", :class => "navbar-img"%>
  <p>PESSOAS</p>
  <%end%>
</div>