<%= form_for(order ,html: {class: 'row g-3'}) do |f| %>
  <% if order.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize("Foram ",order.errors.count, "erros") %> , não é possivel salvar esse pedido:</h2>

      <ul>
      <% order.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <section class="reg-section">
  <div class="field row g-0">
    <%= f.label :id, 'ID da Compra' , class: 'col-md-2'%>
    <%= f.text_field :id , disabled: true , class: 'col-md-4' %>
  </div>

  
  <div class="field row g-0">
    <label for='order_person_id' class = 'col-md-2'>Cliente </label>
    <select name='order[person_id]' id='order_person_id' class= 'col-md-4 requireds' required>
        <option value>Escolha um Cliente</option>
        <%= @people.each do  |person|  %>
        <option id='personOption'value='<%= person.id %>'><%= person.name %></option>
        <% end %>
    </select>
  </div>


    <div class="field row g-0">
    <label for='order_product_id' class = 'col-md-2'>Produto</label>
    <select name='order[product_id]' id='order_product_id' class= 'col-md-4 requireds' required>
        <option value>Escolha um Produto</option>
        <%= @products.each do  |product|  %>
        <option value='<%= product.id %>'><%= product.name %></option>
        <% end %>
    </select>
  </div>


 
  <div class="actions">
    <a onclick = 'required_error()' class = 'btn' style = 'margin: 0px;border: 0px;padding: 0px;'>
      <%= f.submit  class: 'btn btn-outline-success'%>
    </a>
    </div>
<% end %>
