<header class="standard-content header">
<h1>PEDIDOS</h1>

<%= render 'layouts/navbar' %>
</header>
<p id="notice"><%= notice %></p>

<section class="standard-content table-section">
<%= form_tag(orders_path, method: :get , id: 'search-box')  do %>
  <p style='margin: 0px;font-size: 70%;'>BUSQUE PELO NOME DO CLIENTE OU NOME DO PRODUTO.</p>
  <%= text_field_tag(:search, params[:search]) %>
  <%= submit_tag ("Search") %>
<% end %>



<table id="MyTable" class="sortable table table-bordered " >
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">CLIENTE</th>
      <th scope="col">PRODUTO</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @orders.each do |order| %>
      <tr>
        <td><%= order.id %></td>
        <td><%= @people.select(:name).where(["id = ?",order.person_id]).pluck(:name).first %> </td>
        <td><%= @products.select(:name).where(["id = ?",order.product_id]).pluck(:name).first %> </td>
        <td class="act-btn"><%= link_to 'Mostrar', order , class: "btn btn-success"  %>
        <%= link_to 'Editar', edit_order_path(order) , class: "btn btn-warning"%>
        <%= link_to 'Excluir', order, method: :delete, data: { confirm: 'Você tem certeza?' } , class: "btn btn-danger"  %></td>
      </tr>
    <% end %>
  </tbody>
</table>
 


<br>

<%= link_to 'Novo Pedido', new_order_path , class: 'btn btn-outline-primary rails-btn' %>

</section>